<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新浪全球实时财经新闻</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="alternate" type="application/rss+xml" title="Recent Entries" href="http://h52e5.github.io/sina-news/rss.xml">
    <style>
      li {
        color: black;
        margin-top: 1.5rem;
        background: #f7f9fe;
        padding: 12px 8px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        新浪全球实时财经新闻<a href="./rss.xml"> RSS </a>
      </h1>
      <ol class="list"></ol>
    </div>
  </section>
  </body>
  <script type="text/javascript" src="page.js"></script>
</html>

